git
cmake
python
python-pip
ruby
scala
emacs
curl
snappy
silversearcher-ag
gfortran
libboost-all-dev
libopenblas-dev 
liblapack-dev 
libpng-dev 
libfreetype6-dev
liblmdb-dev
libleveldb-dev
libsnappy-dev
libopencv-dev 
libhdf5-serial-dev
libblas-dev
libatlas-base-dev
autoconf
libtool
unzip
libunwind8-dev
