python
python-pip
ruby
scala
emacs
curl
snappy
silversearcher-ag
liblas
gfortran
protobuf-compiler
libboost-all-dev
libopenblas-dev 
liblapack-dev 
libpng-dev 
libfreetype6-dev
libgflags-dev
libgoogle-glog-dev 
liblmdb-dev
libprotobuf-dev
libleveldb-dev
libsnappy-dev
libopencv-dev 
libhdf5-serial-dev
